body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.navbar-top {
  display: flex;
  align-items: center;
}

.headline-text{
    font-family: "Lucida Console", "Courier New", monospace;
}

img{
  width: 100px;
  height: 100px;
}